@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
:root{
    --main-bg-color: #2874f0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: calc(100vh - 10vh - 7vh);
}
header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav ul{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 35px;
}
.lines{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 40px;
    
}
.cardrow{
    padding: 5px 0px;
}
h2{
    padding: 5px 20px;
    font-family: 'Jost', sans-serif;
}
nav input{
    padding: 0 10px;
    height: 4vh;
    width: 40vw;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 10px 0 40px;
}
.logo img{
    width: 85px;
    padding: 0 10px;
    margin: 0 5px;
}
nav ul li{
    padding: 0 23px;
    list-style: none; 
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: darkblue;
    font-weight: bold;
}
footer{
    height: 7vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}